<!DOCTYPE html>
<html lang="en">
<head>
	{% block htmlheader %}
	<meta charset="utf-8" />
	
	<title>{% if not is_front_page and meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
	<meta name="description" content="{{ meta.description }}"> 
{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
{% endif %}
	
	{% block stylesandscripts %}
	<link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
	{% endblock %}
	{% endblock %}
</head>
<body>
	{% block pageheader %}
	<header id="header">
		<div class="inner clearfix">
			<h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
			{#
				If you want to add any additional items (email link, Twitter, etc.) to the header,
				just add a new list item before or after the for loop.
			#}
			{# In the header, any page not marked portfolio goes in the nav #}
			<nav>
			<ul class="nav">
				{% for page in pages %}
				{% if not page.portfolio and page.title %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
			</nav>
		</div>
	</header>
	{% endblock %}
	{% block content %}
	<section id="content">
		<div class="inner clearfix">
			{% block indexmdcontent %}{{ content }}{% endblock %}
			
			
			
			{% if is_front_page or is_tag_request %}

			<p class="taglist">
			{% for a_tag in tag_list %}
			<a href="{{ base_url }}/tags/{{ a_tag }}">{{ a_tag }}</a>{% if not loop.last %} {% endif %}
			{% endfor %}
			</p>


			<ul class="portfolioitemlist">
				{% for page in pages %}
				{% if (is_front_page and page.portfolio) or (is_tag_request and page.has_requested_tag) %}
				<li class="portfolioitem" {% if page.tags %}data-tags="{% for a_tag in page.tags %}{{ a_tag }}{% if not loop.last %} {% endif %}{% endfor %}"{% endif %}>
					<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
					{% if page.image %}
					<img src="{{ theme_url }}/images/{{ page.image }}" alt="Cover image for {{ page.title }}" />
					{% endif %}
					{% if page.description %}
					<p>{{ page.description }}</p>
					{% endif %}
					{% if page.tags %}
					<p>
					{% for a_tag in page.tags %}
					<a href="{{ base_url }}/tags/{{ a_tag }}">{{ a_tag }}</a>{% if not loop.last %} {% endif %}
					{% endfor %}
					</p>
					{% endif %}
				</li>
				{% endif %}
				{% endfor %}
			</ul>
			
			{% endif %}
		</div>
	</section>
	{% endblock %}
	{% block footer %}
	<footer id="footer">
		<div class="inner">
			&copy; 2014{% if config.site_owner %} {{ config.site_owner }}{% endif %}. Powered by <a href="http://picocms.org/">Pico</a> using <a href="https://github.com/6stringbeliever/pico_portfolio">Pico Portfolio</a>.
		</div>
	</footer>
	{% endblock %}

{% block footercode %}{% endblock %}
</body>
</html>
