<!DOCTYPE html>
<html lang="en">
<head>
	{% block htmlheader %}
	<meta charset="utf-8" />
	
	<title>{% if not is_front_page and meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
	<meta name="description" content="{{ meta.description }}"> 
{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
{% endif %}
	
	{% block headerstyle %}
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
	{% endblock %}
	{% block headerscript %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{{ theme_url }}/js/tagswitcher.js"></script>
	{% endblock %}
	{% endblock %}
</head>
<body>
	{% block pageheader %}
	<header id="header">
		<div class="inner clearfix">
			<h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
			{#
				If you want to add any additional items (email link, Twitter, etc.) to the header,
				just add a new list item before or after the for loop.
			#}
			{# In the header, any page not marked portfolio goes in the nav #}
			<nav>
			<ul class="nav">
				{% spaceless %}
				{% for page in pages %}
				{% if not page.portfolio and page.title %}
				<li><a href="{{ page.url }}">{{ page.title }}</a></li>
				{% endif %}
				{% endfor %}
				{% endspaceless %}
			</ul>
			</nav>
		</div>
	</header>
	{% endblock %}
	{% block content %}
	<section id="content">
		<div class="inner clearfix">
			{% block indexdotmdcontent %}{{ content }}{% endblock %}
			
			{% if is_front_page or is_tag_request %}
			
			<div class="taginfo">
			
			<p class="taglist"> 
			{% spaceless %}
			{% for a_tag in tag_list %}
			<a href="{{ base_url }}/tags/{{ a_tag }}" class="tagselect {% if a_tag == requested_tags %}tagselected{% endif %}" data-tagfor="{{ a_tag }}">{{ a_tag }}</a>
			{% endfor %}
			<a href="{{ base_url }}" class="tagclear">Show All</a>
			{% endspaceless %}
			</p>

			</div>
			
			<ul class="portfolioitemlist">
				{% spaceless %}
				{% for page in pages %}
				{% if (is_front_page and page.portfolio) or (is_tag_request and page.has_requested_tag) %}
				<li class="portfolioitem" {% if page.tags %}data-tags="{% for a_tag in page.tags %}{{ a_tag }}{% if not loop.last %} {% endif %}{% endfor %}"{% endif %}>
					<h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
					{% if page.image %}
					<a href="{{ page.url }}"><img src="{{ theme_url }}/images/{{ page.image }}" alt="Cover image for {{ page.title }}" /></a>
					{% endif %}
					{% if page.description %}
					<p>{{ page.description }}</p>
					{% endif %}
					{% if page.tags %}
					<p class="portfolioitemtaglist">
					{% for a_tag in page.tags %}
					<a href="{{ base_url }}/tags/{{ a_tag }}" class="itemtag">{{ a_tag }}</a>{% if not loop.last %} {% endif %}
					{% endfor %}
					</p>
					{% endif %}
				</li>
				{% endif %}
				{% endfor %}
				{% endspaceless %}
			</ul>
			
			{% endif %}
		</div>
	</section>
	{% endblock %}
	{% block footer %}
	<footer id="footer">
		<div class="inner">
			&copy; 2014{% if config.site_owner %} {{ config.site_owner }}{% endif %}. Powered by <a href="http://picocms.org/">Pico</a> using <a href="https://github.com/6stringbeliever/pico_portfolio">Pico Portfolio</a>.
		</div>
	</footer>
	{% endblock %}

{% block footerscript %}
<script>
	$(document).ready(inittagswitch(".tagselect"));
</script>
{% endblock %}
</body>
</html>
