#header, #content, #footer{
	max-width: $gs-max-width;
	margin: 0 auto;
	// 
	@media screen and (max-width: $gs-max-width / 0.9) { 
		width: 90%;
	}
}

.nav {
	padding-left: 0;
	text-align: center;
	li {
		display: inline;
		border-right: 1px solid black;
		padding: 0 0.5em;
	}
	li:last-child {
		border-right: none;
	}
}

.portfolioitemlist {
	padding: 0;
	margin: 0 -20px 0 0;

}

.portfolioitem {
	background-color: #eeeeee;
	@include grid-column(4);
	margin-bottom: 2em;
	img {
		max-width: 100%;
	}
	&:nth-child(3n+1) {
		clear: both;
	}
}

.taginfo {
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 2em;
}

footer {
	clear: all;
	padding: 2em 0;
}

