@function grid-width($columns) {
	@return ($columns * $gs-column) + (($columns - 1) * $gs-gutter);
}

@mixin grid-column($columns) {
	float: left;
	display: inline;
	margin-left: 0;
	margin-right: $gutter;
	width: grid-width($columns);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}