body {
	font-family: $main-text-font-stack;
	font-size: $base-font-size;
	line-height: 1.5;
	color: $main-text-color;
}

h1 {
	font-size: 2.5em;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	&:before, &:after {
		content: "\2014";
	}
}

h1 a, h2 a {
	color: $main-text-color;
	text-decoration: none;
}

h2 {
	font-family: $sub-heading-font-stack;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1;
}

a {
	text-decoration: none;
	color: $link-color;
}

a:hover {
	text-decoration: underline;
	
}

a:visted {
	color: $link-followed-color;
}

.taginfo {
	font-family: $sub-heading-font-stack;
	font-size: 1em;
	line-height: 1em;
	font-weight: 300;
}

.tagselect {
	display: inline-block;
	text-decoration: none;
	@include border-radius(4px);
	background-color: #7cb4f5;
	border: 1px solid #639cdc;
	padding: 0.2em 0.4em;
	color: white;
	font-weight: 400;
}

.tagselect:hover {
	text-decoration: none;
	background-color: #639cdc;
}



.nav li {
	font-family: $sub-heading-font-stack;
	font-weight: bold;
	a {
		color: $main-text-color;
		text-decoration: none;
	}
}

.portfolioitem h2 {
	padding-left: 0.5em;
	margin: 0.5em 0 0.25em 0;
}

.portfolioitemtaglist {
	margin: 0.25em 0.5em 0.5em 0.5em;
}