body {
	font-family: $main-text-font-stack;
	font-size: $base-font-size;
	line-height: 1.5;
	color: $main-text-color;
}

h1 {
	font-size: 2.5em;
	font-weight: normal;
	line-height: 1;
	text-align: center;
	&:before, &:after {
		content: "\2014";
	}
}

h1 a, h2 a {
	color: $main-text-color;
	text-decoration: none;
}

h2 {
	font-family: $sub-heading-font-stack;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1;
	padding-left: 0.25em;
	margin: 0.5em 0 0.25em 0;
}

a {
	text-decoration: none;
	color: $link-color;
}

a:hover {
	text-decoration: underline;
	
}

a:visted {
	color: $link-followed-color;
}

.nav li {
	font-family: $sub-heading-font-stack;
	font-weight: bold;
	a {
		color: $main-text-color;
		text-decoration: none;
	}
}
