/*
Variables
*/

// Colors
$page-background: #FFFFFF;
$main-text-color: #333333;
$main-heading-color: #000000; 
$sub-heading-color: #000000;
$link-color: #0023e1;
$link-followed-color: #4758bd;
$portfolio-item-bg-color: #eeeeee;
$tag-text: #f0f0f0;
$tag-bg: #8f8f8f;
$tag-border: #7e7e7e;
$tag-hover: #767676;
$tag-selected: #3879c3;
$separator-line: #e3e3e3;

// Font Stacks
$main-text-font-stack: 'Playfair Display', 'Merriweather', Georgia, 'Times New Romain', Times, Serif;
$main-heading-font-stack: 'Montserrat', 'Merriweather Sans', Helvetica, Arial, serif;
$sub-heading-font-stack: 'Montserrat', 'Merriweather Sans', Helvetica, Arial, serif;

// Type Sizing
$base-font-size: 16px;

// Grid: 70 x 12, 20 gutter
$gs-max-width: 1060px;
$gs-column: 70px;
$gs-gutter: 20px;

