/*
Variables
*/

// Colors
$page-background: #FFFFFF;
$main-text-color: #333333;
$main-heading-color: #000000; 
$sub-heading-color: #000000;
$link-color: #0023e1;
$link-followed-color: #4758bd;

// Font Stacks
$main-text-font-stack: 'Merriweather', Georgia, 'Times New Romain', Times, Serif;
$main-heading-font-stack: 'Merriweather Sans', Helvetica, Arial, serif;
$sub-heading-font-stack: 'Merriweather Sans', Helvetica, Arial, serif;

// Type Sizing
$base-font-size: 16px;

// Grid: 70 x 12, 20 gutter
$gs-max-width: 1060px;
$gs-column: 70px;
$gs-gutter: 20px;

